# =====================================================================
# YAPA - Environment Variables Template
# Instructions: Copy this file to a new file named '.env' in this 
# directory and modify values.
# =====================================================================

# ---------------------------------------------------------------------
# Database Configuration (PostgreSQL)
# ---------------------------------------------------------------------
# A Shakespearean database choice
DB_NAME=yapa_db_or_not_to_db

# The administrator who queries too much
DB_USER=sir_selects_a_lot

# A password to remind you not to lose your progress
DB_PASSWORD=dont_go_baking_my_cache_123

# The Docker service name for the database (must match docker-compose)
DB_HOST=db
DB_PORT=5432

# ---------------------------------------------------------------------
# Django Framework Configuration
# ---------------------------------------------------------------------
DEBUG=True

# A secret key to show the jury you mean business
SECRET_KEY=django_unchained_by_paywalls_keep_it_secret_keep_it_safe_2026

ALLOWED_HOSTS=localhost,127.0.0.1