<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Yapa{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'global/css/global.css' %}">
</head>

<body>
  <div class="
    {% if user.is_authenticated %}
      app-layout-container
    {% else %}
      solo-layout-container
    {% endif %}
  ">

    {% if user.is_authenticated %}
    {% include 'partials/_sidebar.html' %}
    {% endif %}

    <main class="main-content-area">
      {% block content %}{% endblock %}
    </main>

  </div>
</body>

</html>